html {
    scroll-behavior: smooth;
    user-select: none;
  }
  
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    max-width: 100vw;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* MENU */

.bg-menu{
    max-height: 105px;
    background-color: #0E0E0E;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

.bg-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.bg-menu.hidden {
    transform: translateY(-100%);
}

.linha {
    transition: transform 0.3s ease-in-out;  /* Transição suave para a linha */
}

.linha.hidden {
    transform: translateY(-100%);  /* Faz a linha sumir junto com o cabeçalho */
}

.menu-hamburguer{
    display: none;
}

.logo{
    padding: 20px 60px;
    max-width: 100px;
   
}

.menu{
    padding-right: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    
}

.menu li{
    padding: 10px 6px;
    text-align: center;
    
}
.menu li a{
    font-family: Arial, Helvetica, sans-serif;
    color: #F2F7FF;
    font-size: 1.2rem;
    transition: 0.4ms ease-in-out;
}

.menu li a:hover{
    color: #5793ED;
}

.projects{
    background-color: #5793ED;
    border: 2px solid #F2F7FF;
    border-radius: 4px;  
}

.projects a{
    padding: 11px 15px;
}

.projects:hover{
    background-color: #0E0E0E;
    border: 2px solid #5793ED;
    color: #5793ED;
}

.linha{
    display: grid;
    grid-template-columns: 0.3fr 10fr 0.3fr;
    height: 1px;
    
}

.main{
    background: radial-gradient(circle, #0501A4, #5793ED);    
}

.pontas{
    background: #0E0E0E;   
}

@media (max-width: 1024px){
    .menu{
        padding-right: 30px;
        gap: 4px;
    }

    .menu li{
        padding: 8px 5px;       
    }
    .menu li a{
        font-size: 1rem;
    }
}

@media (max-width: 768px){
    .menu{
        display: none;
    }

    .menu-hamburguer{
        border:  1px solid #5793ED;
        background-color: #1A1A1A;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 45px;
        margin-right: 40px;
        gap: 8px;
        cursor: pointer;
    }

    .menu-hamburguer span {
        display: block;
        justify-content: center;
        height: 4px;
        width: 30px;
        background-color: #5793ED;
        border-radius: 2px;
        transition: all 0.3s ease;
      }
      
      .menu-hamburguer.active span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
      }
      
      .menu-hamburguer.active span:nth-child(2) {
        opacity: 0;
      }
      
      .menu-hamburguer.active span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
      }
}

/* Ajuste para o menu hamburguer */
@media (max-width: 768px) {
    /* O menu ficará invisível inicialmente e será posicionado corretamente */
    .menu {
        display: none; /* Menu invisível inicialmente */
        position: fixed; /* Fixa o menu na tela */
        right: 0;
        top: 0;
        
        height: 200px;
        background-color: #0E0E0E; /* Cor de fundo do menu */
        padding-top: 60px; /* Evita que o menu sobreponha o cabeçalho */
        z-index: 10; /* Garantir que o menu fique acima de outros elementos */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra do menu */
    }

    /* Quando a classe 'active' for adicionada ao menu, ele aparece */
    .menu.active {
        display: block;
    }

    /* Estilo para o fundo escuro */
    .menu.active::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
        z-index: -1; /* Fundo atrás do menu */
    }

    /* Efeito do ícone do menu hamburguer */
    .menu-hamburguer.active span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .menu-hamburguer.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-hamburguer.active span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
}


@media (max-width: 480px){
    .menu-hamburguer{
        width: 45px;
        height: 35px;
        margin-right: 30px;
        gap: 6px;
    }

    .menu-hamburguer span{
        height: 3px;
        width: 30px;
    }

    .logo{
        padding: 20px 30px;
    }
}

/* HOME */

.bg-home{
    background-color: #0E0E0E;
}

.idioma{
    display: grid;
    grid-template-columns: auto;
    justify-content: end;
    
    
}

#language{
    font-size: 1.2rem;
    margin: 20px;
    background-color: #0E0E0E;
    color: #B3B3B3;
    border: none;
    outline: none;
    transition: 0.4ms ease-in-out;
}

#language:hover{
    color: #5793ED;
    cursor: pointer;
}

.home{
    max-height: 600px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, 1fr);
    max-width: 1200px;
    justify-items: center;
    margin: auto;
    padding-top: 30px;

}

#perfil{
    max-width: 300px;
    grid-column: 1;
    grid-row: span 2;
}

#funcao{
    max-width: 500px;
    grid-column: 2;
    grid-row: span 2;
}

.redes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    grid-column: 1;
    grid-row: 4;
    margin-top: -30px;
}

.redes img{
    max-width: 40px;
}

.home p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    color: #F2F7FF;
    grid-column: 2;
    grid-row: 3;
    margin-top: -40px;

}

.home p span.highlighted {
    color: #5793ED;
}

.home p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    color: #F2F7FF; 
    position: relative; 
  }
  
  .home p span.highlighted {
    color: #5793ED;
  }
  
  #cursor {
    position: absolute;
    right: 0;
    top: 0;
    animation: blink 0.7s step-end infinite;
    color: #5793ED; 
    display: inline-block;
    margin-right: -10px;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  

.chat{
    display: grid;
    grid-template-columns: auto auto;
    gap: 60px;
    align-items: center;
    grid-column: 2;
    grid-row: 4;
    margin-top: -30px;
    max-height: 40px;
    max-width: 600px;
    
}

.chat a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #F2F7FF;
    font-weight: 400;
    text-align: center;
    padding: 6px 10px;
    transition: 0.2s ease-in-out;
}

.wpp-icon{
    display: inline;
    width: 30px;
    height: 30px;
    background-image: url(/IMG/Wpp\ Icon.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.2s ease;
}


.wpp{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 10px;
    border: 2px solid #F2F7FF;
    border-radius: 4px;
    background-color: #249736;   
}

.wpp:hover .wpp-icon{
    background-image: url(/IMG/Wpp\ Icon\ green.svg);
}

.wpp:hover{
    border: 2px solid #249736;
    background-color: #0E0E0E;
    color: #249736;
}

.email:hover{
    color: #5793ED;
}

.redes img{
    transition: 0.2s ease-in-out;
}
.redes img:hover{
    transform: translateY(-16px);
    cursor: pointer;
}

@media (max-width: 1024px){
    #perfil{
        max-width: 250px;
    }
    
    #funcao{
        max-width: 400px;
    }

    .redes, .chat, .home p{
        margin-top: -90px;
    }

    .chat{
        gap: 30px
    }

    .redes img{
        max-width: 30px;
    }
    
    .home p{
        font-size: 1.3rem;   
    }

    .chat a{
        font-size: 0.7rem;
    }
    
    .wpp img{
        max-width: 20px;
    }
}

@media (max-width: 768px){
    .home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 180px;
    }

    .home > *:nth-child(n+2){
        margin-bottom: 150px;
    }

    .bg-home{
        padding-bottom: 80px;
    }

    #perfil{
        max-width: 300px;
    }

    #funcao{
        max-width: 450px;
        margin-top: 30px;
    }

    .redes img{
        max-width: 40px;
    }

    .chat a{
        font-size: 0.8rem;
    }
    
    .wpp img{
        max-width: 25px;
    }
}

@media (max-width: 576px){
    .home{
        margin-top: 150px;
    }

    .home > *:nth-child(n+2){
        margin-bottom: 150px;
    }

    #perfil{
        max-width: 250px;
    }

    #funcao{
        max-width: 380px;
        margin-top: 30px;
    }

    .redes img{
        max-width: 30px;
    }

    .chat a{
        font-size: 0.7rem;
    }
    
    .wpp img{
        max-width: 25px;
    }

    .home p{
        font-size: 1.2rem;
    }

    #language{
        font-size: 1rem;
        margin-bottom: 0px;
    }
}

@media (max-width: 480px){
    .home{
        margin-top: 30px;
    }

    .home > *:nth-child(n+2){
        margin-bottom: 120px;
    }

    .bg-home{
        padding-bottom: 10px;
    }

    #perfil{
        max-width: 200px;
    }

    #funcao{
        max-width: 300px;
        margin-top: 30px;
    }

    .redes img{
        max-width: 30px;
    }

    .chat a{
        font-size: 0.6rem;
    }
    
    .wpp-icon{
        width: 20px;
        height: 20px;
    }

    .home p{
        font-size: 1rem;
    }

    .chat{
        gap: 20px
    }
}

@media (max-width: 345px){
    .chat{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .home{
        margin-top: 0px;
    }

    .home > *:nth-child(n+2){
        margin-bottom: 120px;
    }

    .bg-home{
        padding-bottom: 30px;
    }

    #perfil{
        max-width: 150px;
    }

    #funcao{
        max-width: 250px;
        margin-top: 30px;
    }

    .redes img{
        max-width: 25px;
    }

    .redes{
        gap: 20px;
    }

    .chat a{
        font-size: 0.6rem;
    }
    
    .wpp img{
        max-width: 20px;
    }

    .home p{
        font-size: 0.9rem;
        padding-bottom: 10px;
    }
}



/* ABOUT */

.bg-about{
    background-color: #0E0E0E;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    padding: 0px 60px;
}

.bg-id{
    grid-column: 1;
    grid-row: span 4;
    background-color: #1A1A1A;
    display: grid;
    grid: 1fr;
    justify-items: center;
    max-width: 400px;
    border: 2px solid #5793ED;
    border-radius: 4px;
    text-align: center;
    max-height: 800px;
    padding-bottom: 20px;
    margin-top: -30px;
}

.foto img{
    margin-top: 20px;
    max-width: 150px;
    margin-bottom: -10px;
}

.dados h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    color: #F2F7FF;
}

.dados a button{
    font-family: Arial, Helvetica, sans-serif;
    color: #F2F7FF;
    font-size: 0.75rem; 
    font-weight: 600;  
    background-color: #5793ED;
    border: 2px solid #F2F7FF;
    border-radius: 4px;  
    padding: 10px 20px;
}

.dados a button:hover{
    background-color: #1A1A1A;
    border: 2px solid #5793ED;
    color: #5793ED;
    cursor: pointer;
}

.linha-id{
    background: #5793ED;
    min-width: 300px;
    margin: 20px;
    height: 1px;
}

.id{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(8, 1fr);
    align-items: center;
    text-align: start;
    user-select: text;
}

.icon-id{
    grid-column: 1;
    grid-row: span 2;
    max-width: 50px;
    max-height: 50px;
    text-align: center;
}

.icon-id img{
    max-width: 100%;
}

.id h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #717171;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: -3px;
}

.id p{
    font-family: Arial, Helvetica, sans-serif;
    color: #F2F7FF;
    font-size: 1.1rem;
    margin-top: -3px;
}

.about-img{
    max-width: 400px;
    
}

.img-about{
    display: grid;
    justify-content: end;
    margin-bottom: -10px;
}

.paragrafo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    color: #F2F7FF;
    text-align: end;

    display: inline-block;
    }

.work{
    display: grid;
    justify-content: end;
   
}

.work ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 600px;
    gap: 40px;

}

.work ul li{
    max-width: 100px;
    margin-top: -16px;
}

.work h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #F2F7FF;
    font-weight: 600;
    text-align: end;
}

.icon_item img{
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out; 
}

.icon_item{
    display: grid;
    justify-items: center;
    cursor: pointer;
}

.icon_item img:hover{
    transform: translateY(-10px);
}

.texto-icon{
  font-size: 1rem;
  color: #5793ED;
  opacity: 0; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  transform: translateY(10px);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out; 
}

.icon_item:hover .texto-icon{
    opacity: 1;
}

@media (max-width: 1200px){
    .about-img{
        max-width: 370px;
    }

    .paragrafo{
        font-size: 1rem;
        padding-left: 30px;
    }

    .work ul{
        max-width: 550px;
        gap: 30px;
    }

    .work h1{
        font-size: 1.8rem;
    }
}

@media (max-width: 1024px){
    .about-img{
        max-width: 320px;
    }

    .paragrafo{
        font-size: 0.9rem;
        padding-left: 30px;
    }

    .work h1{
       font-size: 1.3rem;
    }

    .work ul{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
    }

    .work ul li{
        max-width: 800px;
    }

    .dados h1{
        font-size: 1.5rem;
    }

    .icon-id{
        max-width: 40px;
        max-height: 40px;
    }

    .id p{
        font-size: 1rem;
    } 
}

@media (max-width: 768px){
    .bg-about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
        gap: 50px;
        margin: 0 auto;
    }

    .paragrafo, .work h1{
        text-align: center;
        padding: 0 30px;
    }

    .work{
        justify-self: center;
    }

    .work ul{
        padding: 0;
    }

    .img-about{
        display: none;
    }

    .paragrafo{
        font-size: 1rem;
    }
}

@media (max-width: 480px){
    .foto img{
        max-width: 120px
    }

    .icon-id{
        max-width: 30px;
        max-height: 30px;
    }

    .id p{
        font-size: 0.9rem;
    }

    .id h2{
        font-size: 0.6rem;
    }

    .bg-id{
        max-width: 350px;
    }
}

@media (max-width: 370px){
    .foto img{
        max-width: 100px
    }

    .icon-id{
        max-width: 20px;
        max-height: 20px;
        justify-self: center
    }

    .linha-id{
        min-width: 220px;
        margin: 20px;
    }

    .dados a button{
        padding: 8px 16px;
        font-size: 0.6rem;
    }

    .icon_item{
        max-width: 50px;
    }

    .icon_item img{
        max-width: 40px;
    }

    .texto-icon{
        font-size: 0.8rem;
    }

    .bg-about{
        padding: 200px 0;
        gap: 10px;
    }

    .texto-icon{
        font-size: 0.8rem;
        transform: translateY(5px);
      }
}  



/* EXPERIENCE */

.bg-exp{
    background-color: #0E0E0E;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0;
}

.exp-img, .exp-img img {
    max-width: 350px;
}

.jobs{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 400px;
}

.job-card{
    display: grid;
    grid-template-columns: 1fr 0.5fr 3fr;
    min-height: 200px;
    max-height: 300px;
    background-color: #1A1A1A;
    border: 1px solid #5793ED;
    border-radius: 4px;
    justify-items: center;
    margin: 0 auto;
    transition: 0.3s ease-in-out;
}

.job-card:hover .arrow{
    transform: translateX(15px);
    transition: 0.3s ease-in-out;
    color: #5793ED;
}

.job-card:hover{
    background-color: #2E2E2E;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}


.job-card h2{
    grid-column: 1/-1;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #F2F7FF;
}

.logo-empresa{
    height: 60px;
    width: 60px;
    background-color: #717171;
    border-radius: 4px;
    grid-column: 1;
    grid-row: 2;
    margin-bottom: -40px;
    margin-left: 15px;
    margin-top: 20px;
}

.job-card p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    color: #F2F7FF;
    text-align: center;
    grid-column: 1;
    grid-row: 3;
    margin-left: 15px;
    margin-top: -40px;
    width: 60px;
    max-height: fit-content;
}

.divisor{
    width: 1px;
    background: #5793ED;
    grid-column: 2;
    grid-row: 2/3;
}

.arrow{
    grid-column: 3;
    grid-row: 3;
    justify-self: center;
    padding-bottom: 10px;
}

.job-card h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #F2F7FF;
    justify-items: center;
}

@media (max-width: 1024px){
    .job-card h1{
        font-size: 1.75rem;
    }

    .logo-empresa{
        margin-bottom: 40px;
    }

    .job-card{
        max-width: 350px;
    }
}

@media (max-width: 768px){
    .exp-img{
        display: none;
    }

    .bg-exp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 400px){
    .job-card{
        max-width: 300px;
        max-height: 250px;
    }
    .job-card h2{
        font-size: 0.8rem;
    }

    .job-card h1{
        font-size: 1.3rem;
    }

    .logo-empresa{
        width: 45px;
        height: 45px;
    }

    .arrow{
        margin-top: -40px;
    }
}

@media (max-width: 340px){
    .job-card{
        min-height: 180px;
        max-width: 250px;
        align-items: center;
    }
    .job-card h2{
        font-size: 0.6rem;
        margin-bottom: -50px;
    }

    .job-card h1{
        font-size: 1.2rem;
        margin-left: 10px;
    }

    .arrow{
        margin-left: -50px;
    }

    .logo-empresa{
        width: 40px;
        height: 40px;
    }

    .job-card p {
        margin-top: -80px;
    }

    .divisor{
        display: none;
    }
}




/* EDUCATION */

.bg-edu{
    background-color: #0E0E0E;
    margin: 0 auto;
    padding-bottom: 60px;
}

.edu-img, .edu-img img{
    max-height: fit-content;
    max-width: 350px;
    grid-row: span 2;
}

.edu-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
    padding: 30px 60px;
}

.deg-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    min-height: 180px;
    margin-top: 20px;
    margin-bottom: 40px;
    align-items: center;
}

.edu-icon{
    max-width: 24px;
    margin-left: -32px;
}

.ads, .physical{
    max-width: 350px;
    background-color: #05011A;
    border: 2px solid #05011A;
    border-radius: 4px;
    display: grid;
    grid-template-rows: 30px 50px 30px 20px;
    align-items: center;
    padding: 20px 20px;
}

.ads:hover, .physical:hover{
    border: 2px solid #0C0058;
}

.header-edu{
    display: grid;
    grid-template-columns: 24px auto;
    align-items: center;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #717171;
    margin-left: -24px;
}

.ads h2, .ads p, .physical p, .physical h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    color: #717171;
    padding: 10px 15px;
}

.ads h1, .physical h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: #F2F7FF;
    padding:0 15px;
}

.ads span, .physical span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6rem;
    color: #717171;
    padding: 0 15px;
}

.languages h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: #F2F7FF;
    padding: 0 20px;
}

.bar, .level{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #717171;
    margin-left: 50px;
}

.header-curso{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px 0;
}

.carousel {
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
}

.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }

.slide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 20px;
    justify-content: space-between;
    margin: 0 20px;
    min-width: 300px;
    box-sizing: border-box
  }

  .slide img {
    width: 100%;
    display: block;
    grid-column: 1/-1;
    min-width: 300px;
    min-height: 160px;
    border-radius: 4px;
    background: #717171;
    margin-bottom: 10px;
  }

  .curso-nome{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #F2F7FF;
  }

  .horas{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #717171;
    text-align: end;
  }

.slide-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0E0E0E;
    border: none;
    color: #5793ED;
    font-size: 2.5rem;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    transition: 0.2s;
  }
  
  .slide-button.prev {
    left: 20px;
  }
  
  .slide-button.next {
    right: 20px;
  }
  
  .slide-button:hover {
    font-size: 2.8rem;
    border: 1px solid #5793ED;
  }
  
  @media (max-width: 1200px){
    .edu-img, .edu-img img{
        max-width: 300px;
    }

    .carousel-slides {
        max-width: 900px;
    }
}
    
    @media (max-width: 1200px){
        .deg-card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .ads, .physical{
            width: 250px;
        }

        .bg-edu{
            padding-bottom: 250px;
        }

        .slide, .slide img {
            min-width: 250px;
          }
    }

    @media (max-width: 1024px){
        .carousel-slides {
            max-width: 700px;
        }

        .slide, .slide img {
            min-width: 200px;
          }

          .title{
            font-size: 0.9rem;
          }

          .edu-icon{
            max-width: 20px;
            margin-left: -28px;
        }
    }

    @media (max-width: 790px){
        .carousel-slides {
            max-width: 500px;
        }

        .slide, .slide img {
            min-width: 240px;
        }

        .edu-img{
            display: none;
        }

        .edu-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .header-edu{
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
    }

    @media (max-width: 670px){
        .carousel-slides {
            max-width: 300px;
        }

        .slide, .slide img {
            min-width: 240px;
        }
    }

    @media (max-width: 450px){
        .bar, .level{
            margin-left: 20px;
        }
    }

    @media (max-width: 430px){
        .slide, .slide img {
            min-width: 200px;
        }

        .carousel-slides {
            max-width: 250px;
            padding-bottom: 50px;
        }

        .bg-edu{
            padding-bottom: 300px;
        }
    }

    @media (max-width: 385px){
        .level{
            margin-left: 10px;
        }

        .bar{
            display: none;
        }

        .languages h1{
            margin-top: 20px;
            font-size: 1rem;
            padding: 0 10px;
        }

        .languages{
            max-width: 200px;
            margin: 0 auto;
        }

        .ads, .physical{
            max-width: 200px;
        }
    }


    /* FOOTER */

    .bg-footer{
        margin: 0 auto;
        height: 250px;
        background-color: #1A1A1A;
        display: flex;
        gap: 120px;
        justify-content: center;
        align-items: center;
    }

    .divisor-footer{
        height: 150px;
        width: 1px;
        background: #5793ED;
    }

    .wid-footer{
        width: 200px;
        display: flex;
        justify-content: end;
    }

    a .logo-footer{
        max-width: 100px;
    }

    .redes-footer{
        display: flex;
        gap: 30px;
    }

    .redes-footer img{
        max-width: 30px;
        transition: 0.3s ease-in-out;
    }

    .redes-footer img:hover{
        transform: translateY(-16px);
        cursor: pointer;
    }

    .copy{
        background-color: #1A1A1A;
        text-align: center; 
    }

    .copy-text{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        color: #717171;
        margin: 0 auto;
        padding-bottom: 15px;
    }

    .chat-footer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 400px;
        
    }

    .chat-footer a{
        background-color: #2E2E2E;
        border: 1px solid #F2F7FF;
        border-radius: 3px;
        padding: 8px 16px;
        font-size: 0.7rem;
        font-family:  Arial, Helvetica, sans-serif;
        color: #F2F7FF;
        text-align: center;
        transition: 0.2s ease-in-out;
    }

    .wpp-icon-footer{
        display: inline-block;
        width: 15px;
        height: 15px;
        background-image: url(/IMG/Wpp\ Icon.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 8px;
        vertical-align: middle;
    }

    .wpp-footer:hover .wpp-icon-footer{
        background-image: url(/IMG/Wpp_Icon_blue.svg);
    }
    
    .wpp-footer:hover{
        border: 1px solid #5793ED;
        background-color: #1A1A1A;
        color: #5793ED;
    }

    .mail-icon-footer{
        display: inline-block;
        width: 15px;
        height: 10px;
        background-image: url(/IMG/mail_icon_wt.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 8px;
        vertical-align: middle;
    }

    .email-footer:hover .mail-icon-footer{
        background-image: url(/IMG/mail\ icon.svg);
    }
    
    .email-footer:hover{
        border: 1px solid #5793ED;
        background-color: #1A1A1A;
        color: #5793ED;
    }

    @media (max-width: 1080px){
        .bg-footer{
            gap: 80px;
        }

        .redes-footer{
            gap: 20px;
        }
    }

    @media (max-width: 870px){
        .bg-footer{
            gap: 60px;
        }

        .wid-footer{
            width: 180px
        }
    
        a .logo-footer{
            max-width: 80px;
        }
    
        .redes-footer{
            display: flex;
            gap: 20px;
        }
    
        .redes-footer img{
            max-width: 25px;
        }

        .divisor-footer{
            height: 120px;
        }
    }

    @media (max-width: 768px){
        .bg-footer{
            flex-direction: column;
            gap: 20px;
            padding: 10px 0px;
        }

        .divisor-footer{
            display: inline-block;
            height: 2px;
            width: 180px;
        }

        .wid-footer{
            max-width: 200px;
            justify-content: center;
            padding-top: 10px;
        }

        .copy-text{
            font-size: 0.8rem;
            padding-top: 10px;
        }
    }

