html {
    scroll-behavior: smooth;
    user-select: none;
  }
  
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.bg-project{
    min-height: 100vh;
    background-color: #0E0E0E;
}

.container-project{
    max-height: 200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    position: relative;
}

.title{
    font-family: fira sans, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #717171;
    font-weight: 400;
    margin-top: 0px;
}

.soon{
    font-family: fira sans, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #F2F7FF;
    font-weight: 600;
    text-transform: uppercase;
}

.ano{
    font-family: fira sans, Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
    color: #F2F7FF;
    font-weight: 600;
    margin-top: -30px;
}

.back{
    position: absolute;
    left: 8%;
    top: 33%;
    transform: translateY(-50%);
    transition: 0.3s ease-in-out;
    padding: 20px 25px;
}

.back:hover{
    transform: translate(-15px, -50%);
}

.project{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 60px;
    
}

.project-card{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    min-height: 600px;
    background-color: #2E2E2E;
    border: 1px solid #5793ED;
    border-radius: 4px;
    cursor: pointer;
}

.card-inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s ease-in-out;
    padding-top: 30px;
}

.card-inside img {
    max-width: 80px;
    height: auto;
}

.card-inside span {
    font-family: fira sans, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #5793ED;
    font-weight: 600;
}

.project-card:hover .card-inside{
    opacity: 1;
    transform: translatey(-30px);
}

.project-card:hover .card-inside img{
    transform: translatey(-30px);
    transition: 0.5s ease-in-out;
}

.project-card:hover{
    background-color: #1A1A1A;
}

@media (max-width: 1170px){
    .project{
        gap: 30px;
        flex-wrap: wrap;


    }

    .project-card{
        min-width: 300px;
        min-height: 516px;
    }

    .card-inside img {
        max-width: 60px;
    }
    
    .card-inside span {
        font-size: 1.3rem;
    }
    
    .project-card:hover .card-inside{
        transform: translatey(-20px);
    }
    
    .project-card:hover .card-inside img{
        transform: translatey(-20px);
    }

    .title{
        font-size: 1.3rem;
    }
    
    .soon{
        font-size: 2.75rem;
    }
    
    .ano{
        font-size: 2.1rem;
    }
}

@media (max-width: 1024px){
    .project{
        gap: 20px;
    }

    .project-card{
        min-width: 250px;
        min-height: 430px;
    }

    .title{
        font-size: 1.3rem;
    }
    
    .soon{
        font-size: 2.5rem;
    }
    
    .ano{
        font-size: 1.8rem;
    }
}

@media (max-width: 830px){
    .bg-project{
        min-height: 600px
    }

    .project{
        gap: 10px;
        padding-bottom: 80px;
    }

    .project-card{
        min-width: 200px;
        min-height: 340px;
    }

    .card-inside img {
        max-width: 40px;
    }
    
    .card-inside span {
        font-size: 1rem;
    }
    
    .project-card:hover .card-inside{
        transform: translatey(-10px);
    }
    
    .project-card:hover .card-inside img{
        transform: translatey(-10px);
    }
    .title{
        font-size: 1rem;
    }
    
    .soon{
        font-size: 2.2rem;
    }
    
    .ano{
        font-size: 1.5rem;
    }
}



/* FOOTER */

.bg-footer{
    margin: 0 auto;
    height: 250px;
    background-color: #1A1A1A;
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
}

.divisor-footer{
    height: 150px;
    width: 1px;
    background: #5793ED;
}

.wid-footer{
    width: 200px;
    display: flex;
    justify-content: end;
}

a .logo-footer{
    max-width: 100px;
}

.redes-footer{
    display: flex;
    gap: 30px;
}

.redes-footer img{
    max-width: 30px;
    transition: 0.3s ease-in-out;
}

.redes-footer img:hover{
    transform: translateY(-16px);
    cursor: pointer;
}

.copy{
    background-color: #1A1A1A;
    text-align: center; 
}

.copy-text{
    font-family: fira sans, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #717171;
    margin: 0 auto;
    padding-bottom: 15px;
}

.chat-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    
}

.chat-footer a{
    background-color: #2E2E2E;
    border: 1px solid #F2F7FF;
    border-radius: 3px;
    padding: 8px 16px;
    font-size: 0.7rem;
    font-family:  fira sans, Arial, Helvetica, sans-serif;
    color: #F2F7FF;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.wpp-icon-footer{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(/IMG/Wpp\ Icon.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 8px;
    vertical-align: middle;
}

.wpp-footer:hover .wpp-icon-footer{
    background-image: url(/IMG/Wpp_Icon_blue.svg);
}

.wpp-footer:hover{
    border: 1px solid #5793ED;
    background-color: #1A1A1A;
    color: #5793ED;
}

.mail-icon-footer{
    display: inline-block;
    width: 15px;
    height: 10px;
    background-image: url(/IMG/mail_icon_wt.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 8px;
    vertical-align: middle;
}

.email-footer:hover .mail-icon-footer{
    background-image: url(/IMG/mail\ icon.svg);
}

.email-footer:hover{
    border: 1px solid #5793ED;
    background-color: #1A1A1A;
    color: #5793ED;
}

@media (max-width: 1080px){
    .bg-footer{
        gap: 80px;
    }

    .redes-footer{
        gap: 20px;
    }
}

@media (max-width: 870px){
    .bg-footer{
        gap: 60px;
    }

    .wid-footer{
        width: 180px
    }

    a .logo-footer{
        max-width: 80px;
    }

    .redes-footer{
        display: flex;
        gap: 20px;
    }

    .redes-footer img{
        max-width: 25px;
    }

    .divisor-footer{
        height: 120px;
    }
}

@media (max-width: 768px){
    .bg-footer{
        flex-direction: column;
        gap: 20px;
        padding: 10px 0px;
    }

    .divisor-footer{
        display: inline-block;
        height: 2px;
        width: 180px;
        /* border: 1px solid red; */
    }

    .wid-footer{
        max-width: 200px;
        justify-content: center;
        padding-top: 10px;
    }

    .copy-text{
        font-size: 0.8rem;
        padding-top: 10px;
    }
}